body {
    font-family: "Roboto",  sans-serif;
    color: #434455;
    background: #fff;
}
a {
    text-decoration: none;
}
ul,ol {
    list-style: none;
    }
    button {
        cursor: pointer;
    }
    /*==============================header styles===================*/
.page-header {
    background-color: #fff;

    
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    }

.studio-header {
        
        color: #2e2f42;
        } 

              
.nav-link {
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
.nav-link:hover,
.nav-link:focus {
      color: #404bbf;
}
.contacts-link {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
}
/*==================================/header styles/====================*/


.section-content {
    background-color: #2e2f42;
}
.content-title {
    
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button {
   
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}
.button:hover,
.button:focus {
   background-color: #404BBF;
}



.peculiarities-subtitle {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.peculiarities-text {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-team {
     background-color: #f4f4fd;
}
.team-item {
    background-color: #FFFFFF;
}
.team-title {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}


.team-subtitle {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;

}
.team-text {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.porfolio-title {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.portfolio-item {
    
    background: #fff;
}


.portfolio-subtitle {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}
.portfolio-text {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.footer {
    background-color: #2e2f42;
}


.studio-footer {
    
    color: #f4f4fd;
}
.footer-text {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
        color: #f4f4fd;
    }
   
    

