/*======================reset===========*/
body {
    font-family: "Roboto",  sans-serif;
    color: #434455;
    background: #fff;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    
button {
        cursor: pointer;
    }
img {
        display: block;
    }
 /*=====================common========================*/
.container {
        width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}
    /*==============================header styles===================*/
.page-header {
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;

    }
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-list {
    display: flex;
    align-items: center;
}
    
    
    
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 24px 0;
     }
.header-logo {
    padding: 24px 0;
    margin: 76px;
}

.studio-header {
        
        color: #2e2f42;
        } 
.header-nav {
        display: flex;
        align-items: center;
        }
    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 40px;
        margin: 40px;
        padding: 24px 0;
        
        }
.nav-item {
        padding: 24px 0;
        }

              
.nav-link {
    display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
    }
.nav-link:hover,
.nav-link:focus {
      color: #404bbf;
}
.contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    padding: 24px;
}
.contacts-link {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
}
.contacts-item {
    margin: 40px;
    }
.contacts-item {
    margin: 0;
}

/*==================================/header styles/====================*/

/*=================================Унікальний контент сторінки--========================*/
.section-content {
    background-color: #2e2f42;
}
.content-title {
    
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button {
   
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}
.button:hover,
.button:focus {
   background-color: #404BBF;
}
/*=================================Унікальний контент сторінки========================*/
/*==================================Особливості=========================================*/
.peculiarities-subtitle {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.peculiarities-text {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*====================================/Особливості/====================================*/
/*====================================Команда=========================================*/
.section-team {
     background-color: #f4f4fd;
}
.team-item {
    background-color: #FFFFFF;
}
.team-title {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}


.team-subtitle {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;

}
.team-text {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/*====================================/Команда/=========================================*/
/*====================================Portfolio=========================================*/
.porfolio-title {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.portfolio-item {
    
    background: #fff;
}


.portfolio-subtitle {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}
.portfolio-text {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*====================================/Portfolio/=========================================*/
/*====================================footer=========================================*/
.footer {
    background-color: #2e2f42;
}


.studio-footer {
    
    color: #f4f4fd;
}
.footer-text {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
        color: #f4f4fd;
    }
 /*====================================/footer/=========================================*/
    

